<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Home</title>
</head>
<body>
    <%- include('partials/navbar'); %>
    <div class="m-auto" style="width: 70%;">
        <h2 style="text-align: center; font-weight: bold;">Welcome to Part-Time Salary Calculator!</h2>
        <br>
        <div class="m-auto" style="width: 50%;">
            <p>
                Part Time Salary Calculator helps centralise and track your part-time earnings and job details from your current and past jobs that 
                was registered with the system. This will ease the need of attempting to update the formulas in Google Sheets consistently and adding 
                new tabs for new jobs taken.
                <br><br>
                To submit your timesheet, kindly head to "<a href="/salary-cal">Salary Calculator</a>".
                <br><br>
                To add in a new part-time job, kindly head to "<a href="/add-new-job">Add Part-Time Job</a>".
                <br><br>
                To view total earning and past history of timesheet, kindly head to "<a href="/history">View History</a>".
                <br><br>
                Hope you have a pleasant experience and enjoy!
            </p>              
        </div>
    </div>
</body>
</html>